.JD {
  text-align: center;
  
}
.JD { 
  background-color: grey;
}
.JD {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.JD {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -4rem;
}

.task {
  margin-top: 4rem;
}